:is(h1, h2, h3, h4, h5, h6) {
    margin: 2rem 0 1rem 0;
}


.wrapper {
    max-width: calc(900px - (30px * 2));
}


mjx-container {
    margin: 2rem 0 ! important
}

img {
    margin: 0 auto;
    display: block;
}



figure {
    background-color: none;
    font-size: .875em;
    margin: 2rem 0;
    display: block;
}

figcaption {
    text-align: center;
}



