:is(h1, h2, h3, h4, h5, h6) {
    margin: 2rem 0 1rem 0;
}


.wrapper {
    max-width: calc(900px - (30px * 2));
}


mjx-container {
    margin: 2rem 0 ! important
}

img {
    margin: 0 auto;
    display: block;
}



figure {
    background-color: none;
    font-size: .875em;
    margin: 2rem 0;
    display: block;
}

figcaption {
    text-align: center;
}

/*table {
    width: auto;
    margin: 2rem auto;
    font-size: .8rem;
}

table td {
    padding: .3rem 1rem;
    border: 1px solid white;
}

tr:last-child td{
    border-bottom: 1px solid black;
}

table th {
    border: 1px solid white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}*/

